@*
 *
 * to do sample project
 *
 *@
 
@import helper._

@import helpers.TodoCategoryHelper

@(vv: model.ViewValueTodoCategoryList)(implicit request: RequestHeader, messages: Messages)
@common.Default(vv.home){
  <button>
    <a href="@routes.TodoCategoryController.add">作成</a>
  </button>
  <ul class="todo-category-list">
  @for(item <- vv.items) {
    <li>
      <div class="todo-category-card">
        <div class="todo-category-card__content">
          <span class="todo-category-card__color @TodoCategoryHelper.colorStyle(item.color)"></span>
          <div>
            <p class="todo-category-card__name">
              @item.name
            </p>
            <p class="todo-category-card__slug">@item.slug</p>
          </div>
        </div>
        <div class="todo-category-card__buttons">
          <button class="todo-category-card__buttons__edit">
            <a href="@routes.TodoCategoryController.edit(item.id)">編集</a>
          </button>
          <div class="todo-category-card__buttons__remove">
            @helper.form(action = routes.TodoCategoryController.remove(item.id)) {
              @CSRF.formField
              <input type="submit" value="削除">
            }
          </div>
        </div>
      </div>
    </li> 
  }
  </ul>
}
