@*
 *
 * to do sample project
 *
 *@

@import helper._

@import forms.TodoEditData
@import helpers.TodoHelper

@(vv: model.ViewValueTodoEditForm, form: Form[TodoEditData])(implicit request: RequestHeader, messages: Messages)

@common.Default(vv.home){
  @helper.form(action = routes.TodoController.update(vv.id)) {
    @CSRF.formField 
    @helper.inputText(form("title"))
    @helper.textarea(form("body"))
    @helper.select(form("state"), options = TodoHelper.stateOptions)
    @helper.select(form("categoryId"), options = TodoHelper.categoryOptions(vv.categories))
    <input type="submit" value="更新">
    <a href="@routes.TodoController.index">戻る</a>
  }
}
