@*
 *
 * to do sample project
 *
 *@

@import helper._

@import model.ViewValueTodoList
@import helpers.TodoHelper
@import helpers.TodoCategoryHelper
@import play.twirl.api.StringInterpolation

@(vv: ViewValueTodoList)(implicit request: RequestHeader, messages: Messages)

@common.Default(vv.home){
  <button>
    <a href="@routes.TodoController.add">作成</a>
  </button>
  <ul class="todo-list">
  @for(item <- vv.items) {
    <li>
      <div class="todo-card">
        <div class="todo-card__content">
          <div class="todo-card__head">
            <p class="todo-card__title">@item.title</p>
            @{
              item.category match {
                case Some(category) => {
                  val colorStyle = TodoCategoryHelper.colorStyle(category.color)
                  val name = category.name
                  html"<p class='todo-card__category $colorStyle'>$name</p>"
                }
                case _              => <p class="todo-card__category"></p>
              }
            }
            <p class="todo-card__state @TodoHelper.stateStyle(item.state)">@item.state.name</p>
          </div>
          <p class="todo-card__body">@item.body</p>
        </div>
        <div class="todo-card__buttons">
          <button class="todo-card__buttons__edit">
            <a href="@routes.TodoController.edit(item.id)">編集</a>
          </button>
          <div class="todo-card__buttons__remove">
            @helper.form(action = routes.TodoController.remove(item.id)) {
              @CSRF.formField
              <input type="submit" value="削除">
            }
          </div>
        </div>
      </div>
    </li>
  }
  </ul>
}
