@*
 *
 * to do sample project
 *
 *@

@import helpers.TodoHelper

@(vv: model.ViewValueTodoDetail)
@common.Default(vv.home){
   <div class="todo-detail__head">
      <div class="todo-detail__title">@vv.todo.title</div>
      <div class="todo-detail__category">@vv.todo.categoryName</div>
      <div class="todo-detail__state @TodoHelper.stateStyle(vv.todo.state)">@vv.todo.state.name</div>
   </div>
   <div class="todo-detail__body">@vv.todo.body</div>
   <button><a href="@routes.TodoController.index">一覧に戻る</a></button>
}
